<div class="EmailSubscriptionPanel">
    <div class="container fadeable-container">
        <div class="fadeable-panel">
            <div class="col col-heading">
                <h4 class="heading center">
                    Like travel deals? Enter your email and we'll send them your way. 
                </h4>
            </div>
            <div class="col mainContent">
                <div class="email-input">
                    <form class="email-form center"
                        data-invalid-message="Please enter a valid email address.">
                        <div id="newsletter-subscription" class="col input">
                            <span class="label">Email</span>
                            <input id="input" type="email"
                                class="TextInput" aria-hidden="false"
                                placeholder="Your email address">
                        </div>
                        <button id="submit"
                            class="ButtonDeprecated col newsletter-button"
                            type="submit" aria-hidden="false">
                            <span class="">Send me deals</span>
                        </button>
                    </form>
                </div>
                <div class="disclaimer-wrap">
                    <p class="disclaimer">Your privacy is important to us, so we'll never spam you or share your info
                        with third parties.<br> Take a look at our <a href="/privacy/">privacy policy</a>.
                        And, we'd be sad to see you go, but you can <a
                            href="https://global.cheapflights.com/alerts/">unsubscribe</a> at any time.</p>
                </div>
            </div>
        </div>
    </div>
</div>