<div class="PopularFlightSearches">
    <div class="section-grey">
        <div class="cfSection">
            <h2 class="title">Popular flight routes</h2>
            <h5 class="subtitle">Check out other popular flight routes found by fellow travelers</h5>
            <div class="links">
                <div class="links-content">
                    <ul class="col">
                        <li>
                            <a href="/flights-to-india/usa/">Flights from USA to India (US - IN)</a>
                        </li>
                        <li>
                            <a href="/flights-to-miami/new-york/">Flights from New York to Miami (NYC - MIA)</a>
                        </li>
                        <li>
                            <a href="/flights-to-florida/new-york/">Flights from New York to Florida (NYC - FL)</a>
                        </li>
                        <li>
                            <a href="/flights-to-las-vegas/chicago/">Flights from Chicago to Las Vegas (CHI - LAS)</a>
                        </li>
                        <li>
                            <a href="/flights-to-atlanta/new-york/">Flights from New York to Atlanta (NYC - ATL)</a>
                        </li>
                        <li>
                            <a href="/flights-to-orlando/new-york/">Flights from New York to Orlando (NYC - ORL)</a>
                        </li>
                        <li>
                            <a href="/flights-to-manila/los-angeles/">Flights from Los Angeles to Manila (LAX - MNL)</a>
                        </li>
                        <li>
                            <a href="/flights-to-los-angeles/new-york/">Flights from New York to Los Angeles (NYC -
                                LAX)</a>
                        </li>
                        <li>
                            <a href="/flights-to-las-vegas/los-angeles/">Flights from Los Angeles to Las Vegas (LAX -
                                LAS)</a>
                        </li>
                        <li>
                            <a href="/flights-to-las-vegas/dallas/">Flights from Dallas to Las Vegas (DFW - LAS)</a>
                        </li>
                        <li>
                            <a href="/flights-to-miami/atlanta/">Flights from Atlanta to Miami (ATL - MIA)</a>
                        </li>
                        <li>
                            <a href="/flights-to-las-vegas/new-york/">Flights from New York to Las Vegas (NYC - LAS)</a>
                        </li>
                    </ul>
                    <ul class="col divided">
                        <li>
                            <a href="/flights-to-india/san-francisco/">Flights from San Francisco to India (SFO -
                                IN)</a>
                        </li>
                        <li>
                            <a href="/flights-to-los-angeles/chicago/">Flights from Chicago to Los Angeles (CHI -
                                LAX)</a>
                        </li>
                        <li>
                            <a href="/flights-to-hawaii/los-angeles/">Flights from Los Angeles to Hawaii (LAX - HI)</a>
                        </li>
                        <li>
                            <a href="/flights-to-philippines/usa/">Flights from USA to Philippines (US - PH)</a>
                        </li>
                        <li>
                            <a href="/flights-to-miami/chicago/">Flights from Chicago to Miami (CHI - MIA)</a>
                        </li>
                        <li>
                            <a href="/flights-to-london/new-york/">Flights from New York to London (NYC - LON)</a>
                        </li>
                        <li>
                            <a href="/flights-to-bahamas/miami/">Flights from Miami to Bahamas (MIA - BS)</a>
                        </li>
                        <li>
                            <a href="/flights-to-chicago/new-york/">Flights from New York to Chicago (NYC - CHI)</a>
                        </li>
                        <li>
                            <a href="/flights-to-las-vegas/atlanta/">Flights from Atlanta to Las Vegas (ATL - LAS)</a>
                        </li>
                        <li>
                            <a href="/flights-to-new-york/los-angeles/">Flights from Los Angeles to New York (LAX -
                                NYC)</a>
                        </li>
                        <li>
                            <a href="/flights-to-los-angeles/dallas/">Flights from Dallas to Los Angeles (DFW - LAX)</a>
                        </li>
                        <li>
                            <a href="/flights-to-california/new-york/">Flights from New York to California (NYC -
                                CA)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>