<div class="header-block">
    <div class="container">
        <div class="logo-block">
            <div class="logoContainer">
                <a href="/" class="logo">
                    <span class="plane">
                        <span class="contrail"> </span>
                    </span>
                </a>
            </div>
            <div class="col-hamburger" id="header-menu-button" tabindex="0">
                <span class="text">Menu</span>
                <div class="hamburger hamburger-squeeze">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header>
    <div class="container headerContainer">
        <nav>
            <div class="nav-block">
                <div class="nav-link-container first">
                    <a class="nav-link selected " href="/" aria-label="Home">
                        Home
                    </a>
                </div>
                <div class="nav-link-container">
                    <a class="nav-link " href="https://www.cheapflights.com/book-flights-online/" aria-label="Search by date">
                        Search by date
                    </a>
                </div>
                <div class="nav-link-container ">
                    <a class="nav-link " href="https://www.cheapflights.com/book-flights-hotels/" aria-label="Vacation packages">
                        Vacation packages
                    </a>
                </div>
                <div class="nav-link-container ">
                    <a class="nav-link " href="/book-hotels/" aria-label="Hotels">
                        Hotels
                    </a>
                </div>
                <div class="nav-link-container ">
                    <a class="nav-link " href="https://www.cheapflights.com/flights/" aria-label="Flight deals">
                        Flight deals
                    </a>
                </div>
                <div class="nav-link-container ">
                    <a class="nav-link " href="https://www.cheapflights.com/book-car-hire/" aria-label="Car rental">
                        Car rental
                    </a>
                </div>
                <div class="nav-link-container ">
                    <a class="nav-link " href="https://www.cheapflights.com/handpicked-deals/" aria-label="Special offers">
                        Special offers
                    </a>
                </div>
                <div class="nav-link-container ">
                    <a class="nav-link " href="https://www.cheapflights.com/news/" aria-label="Travel tips &amp; news">
                        Travel tips &amp; news
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>