<footer>
    <div class="linksBlockGrid">
        <div class="container">
            <div class="menuSectionGrid">
                <div class="left-block">
                    <div class="footerLinks">
                        <div class="header">
                            <h4>Popular destinations</h4>
                            <div class="arrow"></div>
                        </div>
                        <div class="contentBody">
                            <ul class="listGrid">
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-usa/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to USA</span>
                                    </a>
                                </li>
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-philippines/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to Philippines</span>
                                    </a>
                                </li>
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-india/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to India</span>
                                    </a>
                                </li>
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-new-york/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to New York</span>
                                    </a>
                                </li>
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-mexico/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to Mexico</span>
                                    </a>
                                </li>
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-california/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to California</span>
                                    </a>
                                </li>
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-hawaii/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to Hawaii</span>
                                    </a>
                                </li>
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-puerto-rico/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to Puerto Rico</span>
                                    </a>
                                </li>
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-florida/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to Florida</span>
                                    </a>
                                </li>
                                <li class="col-link">
                                    <a href="https://www.cheapflights.com/flights-to-europe/" data-href="">
                                        <span class="image "></span>
                                        <span class="linkText">Flights to Europe</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footerLinks">
                        <div class="header">
                            <h4>Popular cities</h4>
                            <div class="arrow"></div>
                        </div>
                        <div class="contentBody">
                            <div>
                                <ul class="listGrid">
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-dallas/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to Dallas</span>
                                        </a>
                                    </li>
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-fort-lauderdale/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to Fort Lauderdale</span>
                                        </a>
                                    </li>
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-las-vegas/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to Las Vegas</span>
                                        </a>
                                    </li>
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-houston/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to Houston</span>
                                        </a>
                                    </li>
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-miami/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to Miami</span>
                                        </a>
                                    </li>
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-los-angeles/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to Los Angeles</span>
                                        </a>
                                    </li>
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-orlando/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to Orlando</span>
                                        </a>
                                    </li>
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-london/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to London</span>
                                        </a>
                                    </li>
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-atlanta/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to Atlanta</span>
                                        </a>
                                    </li>
                                    <li class="col-link">
                                        <a href="https://www.cheapflights.com/flights-to-washington/" data-href="">
                                            <span class="image "></span>
                                            <span class="linkText">Flights to Washington</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footerLinks-last-block">
                        <div class="company-block">
                            <h6 class="title">
                                Company
                            </h6>
                            <ul>
                                <li><a href="/about-us" target="_self" data-test-footer-about-link="">About</a>
                                </li>
                                <li><a href="/mobile" target="_self" data-test-footer-mobile-link="">Mobile</a>
                                </li>
                                <li><a href="https://www.cheapflights.com/news/" target="_self"
                                        data-test-footer-blog-link="">Blog</a></li>
                            </ul>
                        </div>
                        <div class="contact-block">
                            <h6 class="title">
                                Contact
                            </h6>
                            <ul>
                                <li><a href="/contact-us" target="_self" data-test-footer-help-link="">Help/FAQ</a>
                                </li>
                                <li><a href="/about-us/press-enquiries" target="_self"
                                        data-test-footer-press-link="">Press</a></li>
                                <li><a href="https://affiliates.kayak.com/?languagecode=EN" target="_self"
                                        data-test-footer-affiliates-link="">Affiliates</a></li>
                            </ul>
                        </div>
                        <div class="more-block">
                            <h6 class="title">
                                More
                            </h6>
                            <ul>
                                <li><a href="/airline-fees" target="_self"
                                        data-test-footer-airline-fees-link="">Airline fees</a></li>
                                <li><a href="https://www.cheapflights.com/news/category/airline-guides"
                                        target="_self">Airline guides</a></li>
                                <li><a href="https://www.cheapflights.com/news/category/airport-guides"
                                        target="_self">Airport guides</a></li>
                                <li><a href="/help/lowfares" target="_self">Low fare tips</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right-block">
                    <div class="currency-block">
                        <h6 class="title">
                            Site / Currency
                        </h6>
                        <span class="ui-arrow-border-down"></span>
                        <div>
                            <select class="browser-default custom-select currency-select">
                                <option selected><span class="flag harmonize-footer us"></span>United States</option>
                                <option value="1"><span class="flag au"></span>Australia</option>
                                <option value="2"><span class="flag ca"></span>Canada</option>
                                <option value="3"><span class="flag hk"></span>Hong Kong</option>
                            </select>
                        </div>
                        <div>
                            <select class="browser-default custom-select currency-select">
                                <option selected><span class="symbol harmonize-footer">$ </span> United States Dollars</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-social-block">
        <div class="container">
            <div class="center">
                <a href="/privacy" target="_self" data-test-footer-privacy-link="">Privacy</a>
                <a href="/terms-of-use" target="_self" data-test-footer-terms-and-conditions-link="">Terms &amp;
                    Conditions</a>
                <a href="/privacy#trackingtools" target="_self" data-test-footer-ad-choices-link="">Ad
                    Choices</a>
                <a href="/sitemap" target="_self">Site Map</a>
                <span>©2020 Cheapflights</span>
            </div>
        </div>
    </div>
    <div class="menu-social-block social-links">
        <div class="container">
            <div class="center">
                <a href="https://www.facebook.com/cheapflights" target="_blank"
                    aria-label="Follow on Facebook" title="Follow Cheapflights on Facebook">
                    <svg viewBox="0 0 200 200"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M171.169 20H28.831A8.831 8.831 0 0 0 20 28.831v142.338A8.83 8.83 0 0 0 28.831 180h76.638v-61.875H84.688V93.906h20.781V76.083c0-20.666 12.621-31.919 31.056-31.919c8.83 0 16.42.657 18.632.951v21.597l-12.714.006c-10.031 0-11.974 4.767-11.974 11.762v15.425h23.982l-3.123 24.219h-20.86V180h40.701a8.831 8.831 0 0 0 8.831-8.831V28.831A8.831 8.831 0 0 0 171.169 20z">
                        </path>
                    </svg>
                </a>
                <a href="https://twitter.com/cheapflights" target="_blank" aria-label="Follow on Twitter"
                    title="Follow Cheapflights on Twitter">
                    <svg viewBox="0 0 200 200"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M66.609 173.144c67.927 0 105.074-56.276 105.074-105.074c0-1.599-.032-3.191-.106-4.774A75.133 75.133 0 0 0 190 44.175a73.717 73.717 0 0 1-21.208 5.813c7.624-4.571 13.478-11.805 16.239-20.428a74.017 74.017 0 0 1-23.449 8.964c-6.739-7.178-16.336-11.668-26.957-11.668c-20.396 0-36.935 16.539-36.935 36.927c0 2.899.325 5.716.958 8.42c-30.692-1.542-57.908-16.238-76.12-38.583a36.796 36.796 0 0 0-5.002 18.561c0 12.813 6.52 24.123 16.434 30.74a36.651 36.651 0 0 1-16.726-4.62c-.008.154-.008.309-.008.471c0 17.887 12.731 32.819 29.628 36.205a37.035 37.035 0 0 1-9.735 1.299c-2.379 0-4.693-.235-6.942-.666c4.701 14.672 18.334 25.349 34.5 25.65c-12.642 9.905-28.564 15.808-45.867 15.808c-2.98 0-5.919-.171-8.81-.511c16.344 10.473 35.75 16.587 56.609 16.587">
                        </path>
                    </svg>
                </a>
                <a href="https://pinterest.com/cheapflights/" target="_blank"
                    aria-label="Follow on Pinterest" title="Follow Cheapflights on Pinterest">
                    <svg viewBox="0 0 200 200"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 20c-44.183 0-80 35.817-80 80c0 33.892 21.086 62.865 50.846 74.522c-.7-6.33-1.331-16.064.277-22.974c1.453-6.244 9.381-39.765 9.381-39.765s-2.393-4.792-2.393-11.877c0-11.124 6.447-19.429 14.475-19.429c6.825 0 10.122 5.124 10.122 11.269c0 6.864-4.37 17.126-6.626 26.636c-1.885 7.963 3.993 14.456 11.847 14.456c14.219 0 25.148-14.993 25.148-36.634c0-19.154-13.764-32.547-33.416-32.547c-22.762 0-36.123 17.073-36.123 34.718c0 6.876 2.649 14.249 5.954 18.257c.653.792.749 1.486.555 2.294c-.607 2.527-1.957 7.961-2.222 9.073c-.349 1.465-1.16 1.775-2.675 1.07c-9.992-4.651-16.239-19.259-16.239-30.992c0-25.236 18.335-48.411 52.859-48.411c27.752 0 49.319 19.775 49.319 46.204c0 27.571-17.384 49.76-41.513 49.76c-8.106 0-15.727-4.211-18.336-9.186c0 0-4.011 15.275-4.984 19.017c-1.807 6.949-6.682 15.659-9.943 20.973A80.01 80.01 0 0 0 100 180c44.183 0 80-35.817 80-80s-35.817-80-80-80z">
                        </path>
                    </svg>
                </a>
                <a href="https://instagram.com/cheapflights" target="_blank"
                    aria-label="Follow on Instagram" title="Follow Cheapflights on Instagram">
                    <svg viewBox="0 0 200 200"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M132.313 34.909c21.483.98 31.797 11.276 32.778 32.778c.668 14.642.668 49.977 0 64.625c-.98 21.483-11.276 31.797-32.778 32.778c-14.64.668-49.979.668-64.625 0c-21.483-.98-31.797-11.276-32.778-32.778c-.668-14.642-.668-49.977 0-64.625c.98-21.483 11.276-31.797 32.778-32.778c14.641-.668 49.976-.668 64.625 0zM67.031 20.516C38.273 21.828 21.85 37.812 20.516 67.031c-.688 15.09-.688 50.854 0 65.939c1.312 28.751 17.288 45.181 46.514 46.514c15.086.688 50.856.688 65.939 0c28.751-1.312 45.181-17.288 46.514-46.514c.688-15.09.688-50.854 0-65.939c-1.312-28.758-17.296-45.181-46.514-46.514c-15.089-.689-50.854-.689-65.938-.001zM100 58.937c-22.678 0-41.063 18.385-41.063 41.063S77.322 141.063 100 141.063s41.063-18.385 41.063-41.063c0-22.679-18.385-41.063-41.063-41.063zm0 67.718c-14.721 0-26.655-11.934-26.655-26.655c0-14.721 11.934-26.655 26.655-26.655c14.721 0 26.655 11.934 26.655 26.655c0 14.721-11.934 26.655-26.655 26.655z">
                        </path>
                        <circle cx="142.685" cy="57.315" r="9.596"></circle>
                    </svg>
                </a>
                <a href="https://youtube.com/cheapflights" target="_blank" aria-label="Subscribe on YouTube"
                    title="Subscribe to Cheapflights on YouTube">
                    <svg viewBox="0 0 200 200"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M176.66 61.49c-1.84-6.89-7.27-12.31-14.15-14.15C150.03 44 100 44 100 44s-50.03 0-62.51 3.34c-6.88 1.84-12.31 7.26-14.15 14.15C20 73.97 20 100 20 100s0 26.03 3.34 38.51c1.84 6.89 7.27 12.31 14.15 14.15C49.97 156 100 156 100 156s50.03 0 62.51-3.34c6.88-1.84 12.31-7.26 14.15-14.15C180 126.03 180 100 180 100s0-26.03-3.34-38.51zM84 124V76l41.57 24L84 124z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="pricelineGroupFooter">
        <div class="pricelineGroupFooter-container">
            <p>
                Cheapflights is part of Booking Holdings Inc., the world leader in online travel &amp; related
                services. </p>
            <ul>
                <li
                    class="booking">
                </li>
                <li
                    class="kayak">
                </li>
                <li
                    class="opentable">
                </li>
                <li
                    class="priceline">
                </li>
                <li
                    class="agoda">
                </li>
                <li
                    class="retalcars">
                </li>
            </ul>
        </div>
    </div>
</footer>