<div class="best-deals-wrapper">
    <div class="header">
        <h2>Find the best deals for cheap flights</h2>
        <div class="arrow"></div>
    </div>
    <div class="contentBody">
        <div class="BestDeals">
            <div class="container">
                <div class="best-deals-content">
                    <div class="col">
                        <p>Hello, there. Let us help you start your search for cheap airfare and travel deals. Whether
                            it’s a romantic weekend getaway, family vacation, bucket-list trip to your dream
                            destination, or a business trip with a side of fun, we have you covered. Affordable domestic
                            and international flights are what we do best.</p>
                        <p class="question">How does Cheapflights find flight deals?</p>
                        <p>We know how to travel on the cheap. We partner with a wide variety of airlines and travel
                            providers to bring you the best options for cheap airline tickets, whatever your
                            destination. Easily browse by travel date, or, if you’re flexible, we can help you find the
                            cheapest time to travel.</p>
                        <p class="question">Can I get hotel and car rental deals too?</p>
                        <p>As a top travel deals publisher, Cheapflights.com serves up plenty of flight deals from
                            airports across the United States to destinations around the world not to mention special
                            hotel offers, low-cost car rental options, vacation packages, travel tips and more.</p>
                        <p class="question">Why put off that weekend getaway or dream vacation?</p>
                        <p>Our crew of travel experts and passionate explorers is here to help you see the world and
                            simplify your travel experience. We have the insider information, travel inspiration and
                            trip planning tips you can’t find anywhere else. We’ll even deliver our exclusive deals
                            right to your inbox.</p>
                        <p>Whether you’re on the lookout for cheap airline tickets, U.S. flight deals, or just a little
                            travel entertainment, start your search with us. Onward and upward.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>