<div class="LatestTravelTips">
    <div class="container">
        <div class="latest-travel-tips-header center">
            <h2 class="title">Our latest travel tips and inspiration</h2>
        </div>
        <div class="latest-travel-tips-content">
            <div class="col latest-travel-tips-item-container">
                <div class="latest-travel-tips-item">
                    <a class="image" href="https://www.cheapflights.com/news/what-are-airline-classes">
                        <span class="i travel_tip_1"></span>
                    </a>
                    <div class="title-link">
                        <a href="https://www.cheapflights.com/news/what-are-airline-classes">What are the differences
                            between airline classes?</a>
                    </div>
                    <p class="author">By Lauren Mack</p>
                </div>
            </div>
            <div class="col latest-travel-tips-item-container">
                <div class="latest-travel-tips-item">
                    <a class="image" href="https://www.cheapflights.com/news/52-super-cool-things-to-do-in-los-angeles">
                        <span class="i travel_tip_2"></span>
                    </a>
                    <div class="title-link">
                        <a href="https://www.cheapflights.com/news/52-super-cool-things-to-do-in-los-angeles">52 super
                            cool things to do in Los Angeles</a>
                    </div>
                    <p class="author">By Lauren Mack</p>
                </div>
            </div>
            <div class="col latest-travel-tips-item-container">
                <div class="latest-travel-tips-item">
                    <a class="image" href="https://www.cheapflights.com/news/rome-travel-itinerary">
                        <span class="i travel_tip_3"></span>
                    </a>
                    <div class="title-link">
                        <a href="https://www.cheapflights.com/news/rome-travel-itinerary">Roaming Rome: Travel
                            itineraries from 1 day to 1 week</a>
                    </div>
                    <p class="author">By Jess Hopper</p>
                </div>
            </div>
        </div>
    </div>
</div>