<div class="destinations-wrapper">
    <div class="header">
        <h2>Top destinations</h2>
        <div class="arrow"></div>
    </div>
    <div class="contentBody">
        <div class="TopDestinations">
            <div class="container">
                <div class="top-destination-content">
                    <div class="col top-destination">
                        <span class="i north-america"></span>
                        <a href="https://www.cheapflights.com/flights-to-north-america/" class="title">North America</a>
                        <ul>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-boston/">Boston</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-denver/">Denver</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-new-orleans/">New Orleans</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-new-york/">New York</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-san-diego/">San Diego</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col top-destination">
                        <span class="i south-america"></span>
                        <a href="https://www.cheapflights.com/flights-to-south-america/" class="title">South America</a>
                        <ul>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-argentina/">Argentina</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-brazil/">Brazil</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-colombia/">Colombia</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-ecuador/">Ecuador</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-peru/">Peru</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col top-destination">
                        <span class="i europe"></span>
                        <a href="https://www.cheapflights.com/flights-to-europe/" class="title">Europe</a>
                        <ul>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-amsterdam/">Amsterdam</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-barcelona/">Barcelona</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-ireland/">Ireland</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-paris/">Paris</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-rome/">Rome</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col top-destination">
                        <span class="i africa"></span>
                        <a href="https://www.cheapflights.com/flights-to-africa/" class="title">Africa</a>
                        <ul>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-egypt/">Egypt</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-ghana/">Ghana</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-kenya/">Kenya</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-morocco/">Morocco</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-south-africa/">South Africa</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col top-destination">
                        <span class="i asia"></span>
                        <a href="https://www.cheapflights.com/flights-to-asia/" class="title">Asia</a>
                        <ul>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-bali/">Bali</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-bangkok/">Bangkok</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-dubai/">Dubai</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-hong-kong/">Hong Kong</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-manila/">Manila</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col top-destination">
                        <span class="i oceania"></span>
                        <a href="https://www.cheapflights.com/flights-to-oceania/" class="title">Oceania</a>
                        <ul>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-auckland/">Auckland</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-fiji/">Fiji</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-guam/">Guam</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-new-zealand/">New Zealand</a>
                            </li>
                            <li class="destination">
                                <a href="https://www.cheapflights.com/flights-to-sydney/">Sydney</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>