<div class="Deals-Wrapper">
    <div class="header">
        <h2>Travel deals</h2>
        <div class="arrow"></div>
    </div>
    <div class="contentBody">
        <div class="TravelDeals">
            <div class="dealGrid center">
                <div class="col col-description">
                    <span>We have you covered when it comes to value travel and the cheapest flights.</span>
                    <span>Browse our options to get the best deals on airline tickets, no matter where you’re
                        headed.</span> </div>
                <div class="col col-price">* All prices subject to availability</div>
                <div class="col col-deals">
                    <ul class="dealGrid">
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-las-vegas/">Las Vegas</a>
                            <span class="dealPrice">$36 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-hawaii/">Hawaii</a>
                            <span class="dealPrice">$204 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-florida/">Florida</a>
                            <span class="dealPrice">$36 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-miami/">Miami</a>
                            <span class="dealPrice">$57 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-london/">London</a>
                            <span class="dealPrice">$95 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-philippines/">Philippines</a>
                            <span class="dealPrice">$402 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-costa-rica/">Costa Rica</a>
                            <span class="dealPrice">$229 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-india/">India</a>
                            <span class="dealPrice">$385 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-mexico/">Mexico</a>
                            <span class="dealPrice">$51 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-orlando/">Orlando</a>
                            <span class="dealPrice">$36 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-chicago/">Chicago</a>
                            <span class="dealPrice">$39 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-puerto-rico/">Puerto Rico</a>
                            <span class="dealPrice">$27 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-italy/">Italy</a>
                            <span class="dealPrice">$32 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-australia/">Australia</a>
                            <span class="dealPrice">$1,389 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-europe/">Europe</a>
                            <span class="dealPrice">$27 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-san-francisco/">San Francisco</a>
                            <span class="dealPrice">$107 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-germany/">Germany</a>
                            <span class="dealPrice">$49 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-california/">California</a>
                            <span class="dealPrice">$58 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-atlanta/">Atlanta</a>
                            <span class="dealPrice">$40 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-spain/">Spain</a>
                            <span class="dealPrice">$41 rt</span>
                        </li>
                        <li class="col-deal displayed">
                            <a href="https://www.cheapflights.com/flights-to-maui/">Maui</a>
                            <span class="dealPrice">$187 rt</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>