<div class="popularDeparturePoints">
    <div class="PopularFlights container">
        <h2 class="title">Popular departure points</h2>
        <div class="content">
            <div class="content-title">Here are the airports most frequently used by our users</div>
            <div class="block">
                <a class="link" href="/flights-from-chicago-midway/" title="Chicago Midway">Chicago Midway</a>
                <a class="link" href="/flights-from-newark-intl/" title="Newark Intl">Newark Intl</a>
                <a class="link" href="/flights-from-redmond/" title="Redmond">Redmond</a>
                <a class="link" href="/flights-from-reagan-national/" title="Reagan National">Reagan
                    National</a>
                <a class="link" href="/flights-from-detroit-metropolitan-wayne-county/"
                    title="Detroit Metropolitan Wayne County">Detroit Metropolitan Wayne County</a>
            </div>
            <div class="block">
                <a class="link" href="/flights-from-la-guardia/" title="La Guardia">La Guardia</a>
                <a class="link" href="/flights-from-sanford/" title="Sanford">Sanford</a>
                <a class="link" href="/flights-from-washington-dulles-intl/"
                    title="Washington Dulles Intl">Washington Dulles Intl</a>
                <a class="link" href="/flights-from-dallas-love-field/" title="Dallas Love Field">Dallas Love
                    Field</a>
                <a class="link" href="/flights-from-john-f-kennedy-intl/" title="John F. Kennedy Intl">John F.
                    Kennedy Intl</a>
            </div>
            <div class="block">
                <a class="link" href="/flights-from-chippewa-county-intl/" title="Chippewa County Intl">Chippewa
                    County Intl</a>
                <a class="link" href="/flights-from-dallas-fort-worth-intl/"
                    title="Dallas/Fort Worth Intl">Dallas/Fort Worth Intl</a>
                <a class="link" href="/flights-from-orlando-intl/" title="Orlando Intl">Orlando Intl</a>
            </div>
            <div class="hidden-popular-flights-grid" style="display: none;">
                <div class="">Closest to your location</div>
                <a href="" class="link"></a>
                <a href="" class="link"></a>
                <a href="" class="link"></a>
                <a href="" class="link"></a>
                <a href="" class="link"></a>
                <a href="" class="link"></a>
            </div>
        </div>
        <div class="js-next-content"></div>
    </div>
</div>
<div class="SeoContentBlocks">
    <div class="container snap-to-breakpoint">
        <div class="SeoContentBlocks__block">
            <div class="">
                <h2 class="SeoLinksHeader__title">Find cheap flights from 1000s of airlines and travel agents</h2>
                <h3 class="SeoLinksHeader__subtitle">Cheap flights</h3>
            </div>
        </div>
    </div>
</div>