<div class="all-top-offers">
    <div class="container">
        <div class="center headingGrid">
            <h2 class="col-title">All our top travel offers, deals, insider tips and inspiration</h2>
        </div>
        <div class="top-travel-offers-content">
            <div class="col col-1-3-l col-m top-travel-offers-item">
                <div class="el-icon">
                    <a href="" class="special-offers">
                        <img src="https://www.cheapflights.com/res/images/horizon/common/frontdoor/brands/cheapflights/special-offers.svg?v=a617f55b4d10378005a953c6ce06974ec337f4bb&cluster=5" width="220px" height="208px">
                    </a>
                </div>
                <div class="el-info">
                    <h3 class="title">Special offers</h3>
                    <p class="description">Save on flights, hotels, cruises, vacation packages and more.</p>
                    <a class="link" href="https://www.cheapflights.com/handpicked-deals/">See Deals</a>
                </div>
            </div>
            <div class="col col-1-3-l col-m top-travel-offers-item">
                <div class="el-icon">
                    <a href="" class="newsletter">
                        <img src="https://www.cheapflights.com/res/images/horizon/common/frontdoor/brands/cheapflights/newsletter.svg?v=ebb57b26ce79d66c294ac4668f41e14a0c037188&cluster=5" width="220px" height="208px">
                    </a>
                </div>
                <div class="el-info">
                    <h3 class="title">Newsletters</h3>
                    <p class="description">Join for free and get our tailored newsletters full of hot travel deals.</p>
                    <a class="link" href="https://global.cheapflights.com/alerts/">Sign up</a>
                </div>
            </div>
            <div class="col col-1-3-l col-m top-travel-offers-item">
                <div class="el-icon">
                    <a href="" class="travel-tips">
                        <img src="https://www.cheapflights.com/res/images/horizon/common/frontdoor/brands/cheapflights/travel-tips.svg?v=ba38b4dc3cdcb4f2a2a38052b1d7f6d6e6d3a4e7&cluster=5" width="220px" height="208px">
                    </a>
                </div>
                <div class="el-info">
                    <h3 class="title">Travel tips &amp; news</h3>
                    <p class="description">Tips, news and entertainment from our travel experts to make your next trip
                        even better.</p>
                    <a class="link" href="https://www.cheapflights.com/news/">Get Inspired</a>
                </div>
            </div>
        </div>
    </div>
</div>